/* Noen av elementene her gjelder for alle tre .html sidene (f.eks .container og #navigation) */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: darkgray;
    
}

body{
    background-color: whitesmoke;
}

header{
    height: 80px;
    margin-top: 50px;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
}


#navigation{
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 15px 10px -15px rgb(165, 165, 165);
}

#logo{
    margin-left: 0;
}



.flex-item{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
}

.flex-item:hover {
    color: rgb(65, 65, 65);
    
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a{
  color:rgb(105, 105, 105);
}

a:visited{
  color:rgb(105, 105, 105);
}
   

main{
    min-height: 100vh; 
}

#bigpic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

article img{
    width: 150%;
    
}

article div{
    justify-self: self-end;
    width: 70%;
}

article div p{
    background-color: #6a9325;
    color: white;
    text-align: center;
    height: 100%;
    align-items: center;
    font-size: 36px;
    padding: 10px;
    font-weight: 200;
}

.toptext{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    letter-spacing: .3px;
}



h1{
    margin-top: 50px;
    font-weight: 500;
    font-size: 42px;
    color: rgb(105, 105, 105);
}

h2{
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 24px;
}

h3{
    color:white;
    font-weight: 500;
}

h4{
    align-self: center;
    font-weight: 500;
    font-size: 40px;
    padding: 20px;
    color: white;
}

#politikkomrader{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    gap: 20px;
    height: 420px;
   
}

.politikk{
   
    padding: 15px;
    font-size: 24px;
   
}


#klima{
    background-image: url(https://d3n8a8pro7vhmx.cloudfront.net/mdg/pages/139/attachments/original/1544729904/list_Milj%C3%B8_2x.png?1544729904);
    background-size: cover;
    background-position: bottom;
}

#byer{
    background-image: url(https://d3n8a8pro7vhmx.cloudfront.net/mdg/pages/161/attachments/original/1544729870/list_Byer_2x.png?1544729870);
    background-size: cover;
    background-position: bottom;
}

#naturogdyr{
    background-image: url(https://d3n8a8pro7vhmx.cloudfront.net/mdg/pages/166/attachments/original/1564730130/list-naturOgDyr.png?1564730130);
    background-size: cover;
    background-position: bottom;
}

#levendehav{
    background-image: url(https://d3n8a8pro7vhmx.cloudfront.net/mdg/pages/155/attachments/original/1544729815/list_Hav_2x.png?1544729815);
    background-size: cover;
    background-position: bottom;
}


footer{
    background-color: #67962d;
}

#socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    
}

#socialmedia img {
    height: 80px;
    width: 80px;
    padding: 10px;
    box-shadow: 0 0 3 5;
    
}

#twitter img {
    height: 130px;
    width: 130px;
}


#facebooklogo:hover{
    transform: scale(1.05);
}

#twitterlogo:hover{
    transform: scale(1.05);
}

#instagramlogo:hover{

    transform: scale(1.05);
}



/* Under her begynner kontakt-siden */

.form.container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    
   
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    background-color: white;
    
  }

input[type=submit]{
      background-color: #67962d;
      padding: 10px;
      color: white;
      font-size: 1.3rem;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }

input[type=submit]:hover {
        background-color: rgb(123, 163, 53);
    }

label{
        color: black;
    }

  #fnavn, #enavn, #email{
      margin-bottom: 30px;
  }



#subject{
      max-height: 300px;
      min-height: 40px;
  }

#contactheader{
      margin-bottom: 50px;
  }

#contactbody{
      background-color: whitesmoke;
  }

  /* Under her begynner Om oss siden */

#picturecontainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #67962d;
  width: 100%;
  height: 300px;
    
}


#aboutpic{
  width: 100%;
  height: 100%;
}



#aboutmain{
    

    margin-top: 100px;
}

.var-organisasjon{
    margin-top: 90px;
}