*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

header{
    height: 70px;
    background-color: rgb(212, 212, 212);

    
}

#navigation{
    background-color: rgb(204, 204, 204);
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    
}

.flex-item{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

#logo{
    margin-left: 0;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


a:visited{
    color: black;
}
   

main{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    background-color: aqua;
}

h1{
   
}


footer{
    background: blue;
    height: 200px;
}


