*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    color: darkgray;
}

header{
    height: 70px;
    
    
    
}

#navigation{
    
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
}

#logo{
    margin-left: 0;
}

.flex-item{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


a:visited{
    color: black;
}
   

main{
    
    min-height: 100vh;
    
}

#bigpic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}

article img{
    width: 150%;
    
}

article div{
    justify-self: self-end;
    width: 70%;
}

article div p{
    background-color: #6a9325;
    color: white;
    text-align: center;
    height: 100%;
    align-items: center;
    font-size: 36px;
    padding: 10px;
    font-weight: 200;
    
    
}

.toptext{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2{
    margin-left: 20px;
}

h1{
    margin-top: 50px;
    font-weight: 500;
    font-size: 42px;
    color: rgb(105, 105, 105);
}

h2{
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 24px;
}

h3{
    color:white;
    font-weight: 300;
}

#politikkomrader{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    gap: 20px;
    height: 420px;
}

.politikk{
    background-color: blueviolet;
    
}

#klima{
    background-image: url();
}

footer{
    background: blue;
    height: 200px;
}


