*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}

body{
    background-color: #ececec;
}

header{
    height: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

#navigation{
    
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    
}

#logo{
    margin-left: 0;
    
}

.flex-item{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
}

.flex-item:hover {
    color: rgb(99, 99, 99);
    
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.form.container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }

  input[type=submit]{
      background-color: #67962d;
      padding: 10px;
      color: white;
      font-size: 1.3rem;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }

    input[type=submit]:hover {
        background-color: rgb(123, 163, 53);
    }

  #fnavn, #enavn, #email{
      margin-bottom: 30px;
  }

  #subject{
      max-height: 300px;
      min-height: 40px;
  }